/*

!/config
!/defaultconfigs
!/kubejs
!.gitattributes
!.gitignore
!LICENSE
!README
!manifest.json
!modlist.html

config/embeddium-fingerprint.json
config/embeddium-options.json
config/inventoryprofilesnext

kubejs/jsconfig.json
kubejs/config/probe-settings.json
kubejs/config/probejs.json
