/*

!/config
!/defaultconfigs
!/kubejs
!.gitattributes
!.gitignore
!LICENSE
!README
!manifest.json
!modlist.html
config/darkness.properties
config/darkness.properties
config/SpecialMobs/drowned/abyssal_drowned.toml
config/SpecialMobs/drowned/brute_drowned.toml
config/SpecialMobs/drowned/fishing_drowned.toml
config/SpecialMobs/drowned/frozen_drowned.toml
config/SpecialMobs/drowned/giant_drowned.toml
config/SpecialMobs/drowned/hungry_drowned.toml
config/SpecialMobs/drowned/knight_drowned.toml
config/SpecialMobs/drowned/plague_drowned.toml
config/SpecialMobs/skeletons/brute_skeletons.toml
config/SpecialMobs/skeletons/fire_skeletons.toml
config/SpecialMobs/skeletons/gatling_skeletons.toml
config/SpecialMobs/skeletons/giant_skeletons.toml
config/SpecialMobs/skeletons/knight_skeletons.toml
config/SpecialMobs/skeletons/ninja_skeletons.toml
config/SpecialMobs/skeletons/poison_skeletons.toml
config/SpecialMobs/skeletons/sniper_skeletons.toml
config/SpecialMobs/skeletons/spitfire_skeletons.toml
config/SpecialMobs/skeletons/stray_skeletons.toml
config/SpecialMobs/skeletons/weathered_skeletons.toml
config/SpecialMobs/wither_skeletons/brute_wither_skeletons.toml
config/SpecialMobs/wither_skeletons/gatling_wither_skeletons.toml
config/SpecialMobs/wither_skeletons/giant_wither_skeletons.toml
config/SpecialMobs/wither_skeletons/knight_wither_skeletons.toml
config/SpecialMobs/wither_skeletons/ninja_wither_skeletons.toml
config/SpecialMobs/wither_skeletons/sniper_wither_skeletons.toml
config/SpecialMobs/wither_skeletons/spitfire_wither_skeletons.toml
config/SpecialMobs/zombies/brute_zombies.toml
config/SpecialMobs/zombies/fire_zombies.toml
config/SpecialMobs/zombies/fishing_zombies.toml
config/SpecialMobs/zombies/frozen_zombies.toml
config/SpecialMobs/zombies/giant_zombies.toml
config/SpecialMobs/zombies/hungry_zombies.toml
config/SpecialMobs/zombies/husk_zombies.toml
config/SpecialMobs/zombies/mad_scientist_zombies.toml
config/SpecialMobs/zombies/plague_zombies.toml
config/SpecialMobs/zombified_piglins/brute_zombified_piglins.toml
config/SpecialMobs/zombified_piglins/fishing_zombified_piglins.toml
config/SpecialMobs/zombified_piglins/giant_zombified_piglins.toml
config/SpecialMobs/zombified_piglins/hungry_zombified_piglins.toml
config/SpecialMobs/zombified_piglins/knight_zombified_piglins.toml
config/SpecialMobs/zombified_piglins/plague_zombified_piglins.toml
config/SpecialMobs/zombified_piglins/vampire_zombified_piglins.toml
